<div class="card"> 
  <form class="updateall" method="POST">
    <input
    class="card-title2"
    id="titulo"
    type="text"
    name="titulo"
    placeholder="Título"
    />
    <textarea
    class="card-content2"
    name="detalhes"
    id="detalhes"
    type="text"
    placeholder="Digite o conteúdo..."
    ></textarea>
    <button class="updatebtn2">Alterar Get-it</button>
    <input type="hidden" name="id" value="{id}">
    <input type="hidden" name="selecionar" value="3">
  </form>
</div>  